beautifulsoup4==4.13.0b2
black==24.8.0
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dicttoxml==1.7.16
flake8==7.1.1
greenlet==3.1.1
idna==3.10
levenshtein==0.26.0
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.26.4
pandas==1.5.3
pathspec==0.12.1
platformdirs==4.3.6
psycopg2-binary==2.9.9
pycodestyle==2.12.1
pyflakes==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
requests==2.32.3
six==1.16.0
soupsieve==2.6
SQLAlchemy==1.4.54
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.3
ruff==0.6.7
tqdm==4.66.5
pytest==8.3.3
